name: CI

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    
jobs:
  build:

    env:
      BUILD_CONFIG: 'Release'
      SOLUTION: 'DbfDataReader.sln'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x

    - name: Build
      run: dotnet build $SOLUTION --configuration $BUILD_CONFIG

    - name: Run tests
      run: dotnet test /p:Configuration=$BUILD_CONFIG --no-restore --no-build --verbosity normal

    - name: Pack
      run: dotnet pack --output ./artifacts --configuration $BUILD_CONFIG --no-build

    - name: Push to MyGet
      if: github.ref == 'refs/heads/main'
      env:
        NUGET_URL: ${{ secrets.MYGET_URL }}
        NUGET_API_KEY: ${{ secrets.MYGET_API_KEY }}
      run: dotnet nuget push ./artifacts/**.nupkg --source $NUGET_URL --api-key $NUGET_API_KEY

    - name: Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: artifacts
        path: artifacts/**/*
